
<app-banner
  src="assets/imagens/banner-homepage.png"
  alt="Banner da Aplicação Jornada"
></app-banner>

<app-container>
  <h2>Promoções</h2>
  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>

  <h2>Depoimentos</h2>
</app-container>
