.form-busca {
  margin: 40px 0;
  display: block;
  .flex-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0;
  }
  .input-container {
    margin-bottom: -1.25em;
  }
  .mat-button-toggle-checked {
    background-color: #F7F2FA;
 }
}
