<app-card variant="secondary" class="form-busca">
  <form>
    <h2>Passagens</h2>
    <div class="flex-container">
      <mat-button-toggle-group aria-label="Tipo de passagem">
        <mat-button-toggle>
          <mat-icon>check</mat-icon>
          IDA E VOLTA
        </mat-button-toggle>
        <mat-button-toggle>IDA</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-chip-listbox aria-label="Seleção de passagem">
        <mat-chip-option selected>1 Adulto</mat-chip-option>
        <mat-chip-option>Econômica</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </form>
</app-card>
