.card{
  padding: 24px;

  // Estilo vai ser aplicado a quem tiver ' .card ' E ' .primary '
  &.primary{
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 12px;
  }
  &.secondary{
    background-color: white;
    border-radius: 16px;
  }
}
