<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <ul>
        <li>Adultos</li>
        <li>(Acima de 12 anos)</li>
        <li>
          <app-botao-controle operacao="decrementar"></app-botao-controle>
          <span>1</span>
          <app-botao-controle operacao="incrementar"></app-botao-controle>
        </li>
      </ul>

      <ul>
        <li>Adultos</li>
        <li>(Acima de 12 anos)</li>
        <li>
          <app-botao-controle operacao="decrementar"></app-botao-controle>
          <span>1</span>
          <app-botao-controle operacao="incrementar"></app-botao-controle>
        </li>
      </ul>

      <ul>
        <li>Adultos</li>
        <li>(Acima de 12 anos)</li>
        <li>
          <app-botao-controle operacao="decrementar"></app-botao-controle>
          <span>1</span>
          <app-botao-controle operacao="incrementar"></app-botao-controle>
        </li>
      </ul>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</section>
