/*
SCSS -> Pré processador de CSS
Sintaxe do scss é um pouco diferente do css, ao inves do padrão como ' .app-header button{} ', pode-se aninhar os componentes
*/

.app-header{
  button{
    margin: 0 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar{
    background-color: black;
    color: white;
    padding: 0 256px;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
  }
}
