.depoimento {
  max-width: 320px;
  background-color: #FEF7FF;
  border: none;

  img {
    max-width: 56px;
    max-height: 56px;
    margin-top: 16px;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  mat-card-content {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
}
